
body{
    background-color: #cecece;
}


// variables link
$link-color: rgb(121, 7, 236);

$link-color-hover: #4b494f;

@mixin transition-basic{
    -webkit-transition: all 0.3s ease 0s;
       -moz-transition: all 0.3s ease 0s;
        -ms-transition: all 0.3s ease 0s;
         -o-transition: all 0.3s ease 0s;
            transition: all 0.3s ease 0s;
}

/*    Encabezados
====================================================================*/
h1,h2,h3,h4,h5,h6{
    font-weight: 700;
}

h1{font-size: 36px;}
h2{font-size: 26px; }
h3{font-size: 22px; }
h4{font-size: 20px; }
h5{font-size: 18px; }
h6{font-size: 16px; }

h1 a:hover,
h2 a:hover,
h3 a:hover,
h4 a:hover,
h5 a:hover,
h6 a:hover {
    text-decoration: none;
}

/* Link en el contenido */
p a {
    text-decoration: underline;
}

a{
    color: $link-color;
    text-decoration: none;
    background-color: transparent;
    @include transition-basic;
}

a:active, a:hover, a:focus {
    outline: 0;
    border: none;
    text-decoration: none;
    color: $link-color-hover;
}

.entry-title{
    font-size: 18px;
}


/*    Entradas
==================================================================*/
/*--------------------
- .entry-header      -
----------------------
- .entry-conter      -
----------------------
- entry-footer       -
---------------------*/
article{}
header.entry-header{}
div.entry-content{
    margin: 15px 0;
}
footer.entry-footer{
    padding: 5px;
}
